@media only screen and (max-width: 639px) {
	
	/* Banner display control */
	#web-banner {
		display: none !important;
	}
	
	#web-img-slides {
		display: none !important;
	}
	
	
	/* Hide exterior image */
	#exterior-img {
		display: none !important;
	}
	
	/* ============================================================================
		Contact info 
	============================================================================ */
	#gb-contact-info {
		background-color: #412518;
		color:#EDE8E1;
	}
	
	.info-container > span.phone-icon {
		background-image: url('../_assets/phone-icon.png');
		background-position: 0px 0px;
		width:32px;
		height: 32px;
	}

	.info-container > span.location-icon {
		background-image: url('../_assets/location-icon.png');
		background-position: 0px 0px;
		width:32px;
		height: 32px;
	}
	
	.info-container > span.hours-icon {
		background-image: url('../_assets/hours-icon.png');
		background-position: 0px 0px;
		width:32px;
		height: 32px;
	}

	/* ============================================================================
		Delivery info section
	============================================================================= */

	#gb-deli-info {
		padding: 16px 0.625em;
		border-bottom: 1px solid #BDBDBD;
	}

	a#free-delivery {
		display: block;
		margin:0 auto 16px auto;
		padding: 16px 10px;
		width: 292px;
		
		color: #EF6C00;
		background-color: white;
		
		border: 1px solid #FF5722;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		box-shadow: 0 0 5px #E65100;
		-moz-box-shadow: 0 0 5px #E65100;
		-webkit-box-shadow: 0 0 5px #E65100;
	}

	#free-delivery >h2 {
		display: inline-block;
		font-size: 1.6em;
		font-weight: bold;
		letter-spacing: 0.1em;
		word-spacing: 0.3em;
	}

	#free-delivery>p {
		color: #9E9E9E;
	}

	.note {
		font-size: 0.75em;
		text-align:right;
	}

	#free-delivery >div{
		text-align:center;
	}

	#free-delivery  > div > i {
		font-size: 2em;
	}

	a#free-delivery:hover {
		text-decoration: none;
		color: white;
		background-color: #FFB74D;
		border: 2px solid white;
		box-shadow: 0 0 10px #EF6C00;
		-moz-box-shadow: 0 0 10px #EF6C00;
		-webkit-box-shadow: 0 0 10px #EF6C00;
	}

	a#free-delivery:hover > p {
		text-decoration: none;
		color: #EEEEEE;
	}

	a#free-delivery:active {
		box-shadow: inset 0 0 10px #E65100;
		-moz-box-shadow: inset 0 0 10px #E65100;
		-webkit-box-shadow: inset 0 0 10px #E65100;
	}
	
	/* ===========================================================================
		Control web menu 
	=========================================================================== */
	
	/* Hide web menu */
	#web-menu {
		display: none !important;
	}
	
}