@media only screen and (min-width: 640px) {
	
	/* Banner display control */
	#mobile-banner {
		display: none !important;
	}
	
	#mobile-img-slides {
		display: none !important;
	}
	/* =====================================================================
		Contact info section 
	====================================================================== */
	
	#gb-main-info {
		background-color: #412518;
		padding: 50px 0;
		display:-webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-around;
		-ms-flex-pack: justify;
		justify-content: space-around;
	}
	
	#web-contact-info {
		background-color: #EDE8E1;
		color: #412518;
		
		flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		min-width: 320px;
		max-width: 480px;
		
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	}
	
	.info-container > a {
		color:#412518;
	}
	
	.info-container > span.phone-icon {
		background-image: url('../_assets/phone-icon.png');
		background-position: 0px -48px;
		width:32px;
		height: 32px;
	}

	.info-container > span.location-icon {
		background-image: url('../_assets/location-icon.png');
		background-position: 0px -48px;
		width:32px;
		height: 32px;
	}
	
	.info-container > span.hours-icon {
		background-image: url('../_assets/hours-icon.png');
		background-position: 0px -48px;
		width:32px;
		height: 32px;
	}
	
	#exterior-img {
		margin-top: 12px;
	}
	
	/* =====================================================================
		Delivery info section 
	====================================================================== */
	
	#web-delivery-info {
		background-color: #EDE8E1;
		padding: 1em;
		
		flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		min-width: 320px;
		max-width: 480px;
		
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	}

	#free-delivery {
		color: #9E9E9E;
		font-size:0.825em;
	}
	
	#free-delivery > h2 {
		color: #E65100;
		font-size: 2.5em;
		margin-bottom: 10px;
		font-weight: bold;
		letter-spacing: 0.1em;
		word-spacing: 0.3em;
	}
	
	a#free-delivery:hover {
		text-decoration: none;
	}
	
	/* Override ng-hide class for element */
	#gb-deli-info > img.ng-hide {
		display: block !important;
	}
	
	#gb-deli-info > img {
		margin-top:32px;
	}
	
	/* Hide toggle-map-open button in element */
	#free-delivery > div {
		display: none !important;
	}
	
	/* ====================================================================
		Menu
	==================================================================== */
	
	#menu {
		height: 4500px;
	}
	
	#menu > ul {
		width:48%;
		margin: 0 1%;
	}
	
	#menu > ul.one {
		-webkit-order: 4;
		-ms-order: 4;
		order: 4
	}
	
	#menu > ul.two {
		-webkit-order: 5;
		-ms-order: 5;
		order: 5
	}
	
	#menu > ul.three {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1
	}
	
	#menu > ul.four {
		-webkit-order: 2;
		-ms-order: 2;
		order: 2
	}
	
	#menu > ul.five {
		-webkit-order: 3;
		-ms-order: 3;
		order: 3
	}
	
	#menu > ul.six {
		-webkit-order: 6;
		-ms-order: 6;
		order: 6
	}
	
	.menu-section {
		margin-top: 24px;
	}
	
	@media only screen and (min-width: 960px) {
		
		#menu {
			height: 3250px;
		}
		
		#menu > ul {
			width:31.33%;
			margin: 0 1%;
		}
		
		#menu > ul.one {
			-webkit-order: 3;
			-ms-order: 3;
			order: 3
		}
		
		#menu > ul.two {
			-webkit-order: 5;
			-ms-order: 5;
			order: 5
		}
		
		#menu > ul.three {
			-webkit-order: 4;
			-ms-order: 4;
			order: 4
		}
		
		#menu > ul.four {
			-webkit-order: 6;
			-ms-order: 6;
			order: 6
		}
		
		#menu > ul.five {
			-webkit-order: 1;
			-ms-order: 1;
			order: 1
		}
		
		#menu > ul.six {
			-webkit-order: 4;
			-ms-order: 4;
			order: 4
		}
	}
	
	/* ============================================================================
		Order tab
	============================================================================= */

	#order-tab {
		position:relative;
		bottom: 0;
		font-size: 1.5em;
		background-color: #412518;
		color: #EDE8E1;
		border: 1px solid #412518;
	}
}