<section id="gb-contact-info"><!-- info section that includes phone number, location and hours -->
	<article class="item info-container">
		<span class="phone-icon"></span>
		<div>(416)-292-7961</div>
	</article>
	<article class="item info-container">
		<span class="location-icon"></span>
		<a href="https://www.google.ca/maps/place/Green+Bamboo+Restaurant/@43.785257,-79.2759064,16.71z/data=!4m7!1m4!3m3!1s0x882b2c38223221ab:0xbf5d5d1b256612af!2sGreen+Bamboo+Restaurant!3b1!3m1!1s0x882b2c38223221ab:0xbf5d5d1b256612af"
		target="_blank">
			Midtown Plaza, 4221 Shepppard Ave E., Scarborough
		</a>
	</article>
	<article class="item info-container">
		<span class="hours-icon"></span>
		<div>
			<div>Mon - Sat: </div>
			<div>11:00AM - 10:00PM</div>
			<div>Sun: </div>
			<div>11:00AM - 9:30PM</div>
		</div>
	</article>
	
	<article id="exterior-img">
		<image src="_assets/exterior.jpg" style="height:auto; width:100%" />
	</article>
</section>