<div class="menu-item">
	<div class="main" ng-click="order(item)" ng-class="{'pointer-hover' : !item.isSelected}">
		<span class="item-name">{{ item.enName }}</span>
				
		<span class="item-price">{{ item.price | currency }}</span>
		
		<div class="item-ctrl">
			<a class="order-btn" ng-if="!item.isSelected"></a>
			
			<qty-btn ng-if="item.isSelected" qty="item.orderQuantity" add-quantity="addQuantity(item)"></qty-btn>
		</div>
	</div>
	
	<div class="notification">{{ alertMsg }}</div>
	
	<!-- Option Section -->
	<div ng-if="item.isStaging && item.options" class="option-panel well well-lg">
		<p>Pick your options for <span>{{ item.numOfStagingItems }} {{ item.enName }}</span></p>
		<option-panel ng-repeat="optSet in item.options" option-set="optSet" pick-option="pickOption(choice)"></option-panel>
	</div>
</div>