<!doctype html>
<html lang="en" ng-app="GBWeb">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="menuFactory.js"></script>
  <script src="menuItemFactory.js"></script>
  <script src="orderSvc.js"></script>
  <script src="menuItemDir.js"></script>
</head>

<body ng-controller="menuCtrl">

  <h2>Menu</h2>
  <gb-menu-item ng-repeat="item in menu" item="item" order="orderDish(item)"></gb-menu-item>
  
  <h2>Order</h2>
  <div ng-repeat="item in order.items">
	<span>{{ item.enName }}</span>
	<span>${{ item.price }}</span>
	<button class="btn btn-sm" ng-click="removeDish(item)" style="cursor:pointer"><i class="glyphicon glyphicon-remove"></i></button>
  </div>
</body>
</html>