<div class="menu-item">
	<div class="main" ng-click="order(item)" ng-class="{'pointer-hover' : !item.isSelected}">
		<span class="item-name">{{ item.enName }}</span>
				
		<span class="item-price">${{ item.price }}</span>
		
		<div class="item-ctrl">
			<a class="order-btn" ng-checked="item.isSelected" ng-disabled="item.isSelected" ng-if="!item.isSelected"></a>
				
			<div ng-if="item.isSelected" class="quantity-btn">
				<button ng-click="addQuantity(item)" ng-disabled="disableButton">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
				<div>{{ item.orderQuantity }}</div>
			</div>
		</div>
	</div>
	
	<div class="notification">{{ alertMsg }}</div>
	
	<!-- Option Section -->
	<div ng-if="!isCollapsed" class="option-panel well well-lg">
		<p>Pick your options for <span>{{ item.numOfStagingItems }} {{ item.enName }}</span></p>
		<option-panel ng-repeat="optSet in item.options" option-set="optSet" pick-option="pickOption(choice)"></option-panel>
	</div>
</div>