<div>
	<h3>Item {{ item.id }}</h3>
	<span ng-hide="item.isSelected">
		<input type="checkbox" ng-checked="item.isSelected" ng-disabled="item.isSelected" ng-click="order(item)">
	</span>
	
	<span ng-show="item.isSelected">
		<span>{{ item.orderQuantity }}</span>
		<button class="btn btn-success" ng-click="addQuantity(item)"><i class="glyphicon glyphicon-plus"></i></button>
	</span>
	
	<span>{{ item.enName }}</span>
	
	<span>${{ item.price }}</span>
	
	<div ng-if="isCollapsed">
		<div>Pick your options for {{ item.numOfStagingItems }} {{ item.enName }}</div>
		<div ng-repeat="option in item.options">
			<span ng-repeat="choice in option">
				<span>{{ choice.opt_name }}</span>
				<span ng-if="choice.price"> - ${{ choice.price }}</span>
				<span> || </span>
			</span>
		</div>
	</div>
</div>